html {
  background-color: antiquewhite;
}
body {
  margin: 0;
}
.drop-zones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-zone {
  width: 75px;
  height: 75px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #666;
  margin: 20px;
}

.draggable-item {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #f9f9f9;
  cursor: grab;
}

.draggable-item:active {
  cursor: grabbing;
}

.draggable-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.instructions {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  background-color: lightsteelblue;
  border-bottom: #80d solid 4px;
}

.instructions h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.maintenance {
  width: 100%;
  background-color: #ffdddd;
  border-bottom: 2px solid #ff8888;
  padding: 20px 0;
}

.form {
  margin: auto;
  text-align: center;
}

.form input {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: #509;
  color: white;
  font-weight: 900;
}

.form-group label {
  display: inline-block;
  width:300px;
}

button {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: white;
  color: #509;
  font-weight: 900;
}

.finish {
  margin: 0 50%;
}

.reset {
  position: absolute;
  top: 10px;
  right: 10px;
}

.won {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 24px;
  color: green;
  font-weight: bold;
  margin-top: 20px;
}

.faviconDisclaimer {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}